
.success-true{
        -webkit-animation:success-anim-color 0.3s ease 0s 1 normal;
        -moz-animation:success-anim-color 0.3s ease 0s 1 normal;
        -ms-animation:success-anim-color 0.3s ease 0s 1 normal;
        animation:success-anim-color 0.3s ease 0s 1 normal;
        animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes success-anim-color {
        0%{ background-color:rgba(0,0,0,0.5); }
        100%{ background-color:#0EAD69; }
    }
    
    @keyframes success-anim-color {
        0%{ background-color:rgba(0,0,0,0.5); }
        100%{ background-color:#0EAD69; }
    }

    .success-false{
        -webkit-animation:fail-anim-color 0.3s ease 0s 1 normal;
        -moz-animation:fail-anim-color 0.3s ease 0s 1 normal;
        -ms-animation:fail-anim-color 0.3s ease 0s 1 normal;
        animation:fail-anim-color 0.3s ease 0s 1 normal;
        animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes fail-anim-color {
        0%{ background-color:rgba(0,0,0,0.5); }
        100%{ background-color:#E63946; }
    }
    
    @keyframes fail-anim-color {
        0%{ background-color:rgba(0,0,0,0.5); }
        100%{ background-color:#E63946; }
    }

.flikrAnim {
    animation: text-flicker-in-glow 1s linear 0s 1 normal none;
}

@keyframes text-flicker-in-glow {
			
    0% {
        opacity:0;
    }
    10% {
        opacity:0;
        text-shadow:none;
    }
    11% {
        opacity:1;
        text-shadow:none;
    }
    12% {
        opacity:0;
        text-shadow:none;
    }
    20% {
        opacity:0;
        text-shadow:none;
    }
    21% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.25);
    }
    22% {
        opacity:0;
        text-shadow:none;
    }
    30% {
        opacity:0;
        text-shadow:none;
    }
    31% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
    }
    32% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
    }
    33% {
        opacity:0;
        text-shadow:none;
    }
    45% {
        opacity:0;
        text-shadow:none;
    }
    46% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
    }
    55% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);
    }
    56% {
        opacity:0;
        text-shadow:none;
    }
    56% {
        opacity:0;
        text-shadow:none;
    }
    57% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);
    }
    60% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);
    }
    61% {
        opacity:0;
        text-shadow:none;
    }
    65% {
        opacity:0;
        text-shadow:none;
    }
    66% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);
    }
    75% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);
    }
    76% {
        opacity:0;
        text-shadow:none;
    }
    77% {
        opacity:0;
        text-shadow:none;
    }
    78% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);
    }
    85% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);
    }
    86% {
        opacity:0;
        text-shadow:none;
    }
    87% {
        opacity:0;
        text-shadow:none;
    }
    88% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);
    }
    100% {
        opacity:1;
        text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);
    }
}