.FollowButton  { 
    background: #fcdd5f;
    border: 1px solid #ffcb11;
    padding: 3px 10px;
    color: #444;
    font-weight: bold;
    /* background: #fef8cd;
    background: -moz-linear-gradient(top,#fef8cd 0%,#ffcb11 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fef8cd),color-stop(100%,#ffcb11));
    background: -webkit-linear-gradient(top,#fef8cd 0%,#ffcb11 100%);
    background: -o-linear-gradient(top,#fef8cd 0%,#ffcb11 100%);
    background: -ms-linear-gradient(top,#fef8cd 0%,#ffcb11 100%);
    background: linear-gradient(to bottom,#fef8cd 0%,#ffcb11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef8cd',endColorstr='#ffcb11',GradientType=0); */
    text-shadow: 0px 1px 1px rgb(255 255 255 / 20%);
    background: linear-gradient(
        15deg,
        #ffcb11,
        #fef8cd,
        #ffcb11
        
      )
      no-repeat;
    background-size: 300%;
    background-position: left center;
    transition: background 0.3s ease;
}
.FollowButton:hover {
    background-size: 320%;
    background-position: right center;
}

.FollowButton.unfollow {
    background: #eee !important;
    border: 1px solid #ccc !important;
}

.FollowBtnCounter {
    background:white;
    color:#000;
    padding:10px;
    position: relative;
    margin-left: 10px;;
   
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 30%);
        border: #7f7f7f solid 1px; 
}
 

.FollowBtnCounter:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 7px 5px 0;
    border-color: transparent #7f7f7f;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -5px;
    left: -8px;
    top: 50%;
}

.FollowBtnCounter:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 7px 5px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -5px;
    left: -7px;
    top: 50%;
}