:root {
    --height: 70px; 

}

.dark {
    --borderColor:rgba(0,0,0,0.1);
    --cell0: rgba(0,0,0,0.2);
    --cell1: #09C2D6;
    --cell2: #079DAD;
    --cell3: #057885;
    --cell4: #04535C;
}

.light {
    --borderColor:white;
    --cell0: #EBEDF0;
    --cell1: #09C2D6;
    --cell2: #079DAD;
    --cell3: #057885;
    --cell4: #04535C;
} 
  

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: var(--height); /* Set the height of the container */
  }
  
.item { 
    height: calc( var(--height)/7); /* Set the height of each item */  
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    border-radius: 3px;
    background-color: var(--cell0);
}

.monthNames {
    display: flex;
    color: #666;;
    font-size: 0.9em;
}
.monthNames > div {
    flex-grow: 1;
    text-align: center;
    
}
 
.cell1 { background-color: var(--cell1); } 
.cell2 { background-color: var(--cell2); } 
.cell3 { background-color: var(--cell3); } 
.cell4 { background-color: var(--cell4); } 

.cellOnFocus {
    background-color: red; 
}
.hiddenCell {
    visibility: hidden;
}

.layout {
    display: flex;
    gap: 5px;
}
.mainArea {
    flex-grow: 1;
}
.year {
    flex-shrink:1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    padding: 3px 8px; 
    font-weight: bold;
}
.year > div {
    padding: 3px 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease-in;
    border-radius: 20px;
}

.year > div:hover {
    background-color: #999;
    color: white; 
}

.pinnedYear {
    background-color: #444;
    color: white; 
}
.year > div.btn { 
    height: 24px; 
}
.hidden {
    pointer-events: none;
    opacity: 0.2;
}